.popular-destination {
  padding: 0 32px;
  box-sizing: border-box;
}

.section-title {
  margin-top: 64px;
}

.destinations {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  margin-top: 64px;
}

.destinations article {
  width: 312px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.destinations article header {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.img-item-tokyo,
.img-item-osaka {
  width: 312px;
  height: 360px;
  background-size: cover;
  background-position: center;
}

.img-item-tokyo {
  background-image: url("../img/tokyo-mobile.jpg");
}

.img-item-osaka {
  background-image: url("../img/osaka-mobile.jpg");
}

.destinations h4 {
  font-size: 28px;
  font-weight: var(--title-weight);
  font-family: "Montserrat";
  margin: 24px 0 8px;
  text-align: left;
}

.destinations p {
  font-size: 20px;
  font-weight: var(--text-weight);
  font-family: "Montserrat";
  text-align: left;
  line-height: 32px;
}

.destinations footer {
  margin-bottom: 24px;
}

.destinations .button {
  width: 100%;
  text-align: center;
  border-radius: 7px;
}

@media screen and (min-width: 768px) {
  .img-item-tokyo {
    background-image: url("../img/tokyo-tablet.jpg");
  }

  .img-item-osaka {
    background-image: url("../img/osaka-tablet.jpg");
  }

  .destinations {
    align-items: center;
  }

  .destinations article {
    width: 648px;
  }

  .img-item-tokyo,
  .img-item-osaka {
    width: 100%;
    height: 420px;
  }

  .destinations h4 {
    font-size: 28px;
    font-weight: var(--title-weight);
    font-family: "Montserrat";
    margin: 24px 0 8px;
    text-align: left;
  }

  .destinations footer {
    width: 280px;
    height: 64px;
    margin-top: 8px;
  }

  .destinations .button {
    width: 100%;
    text-align: center;
    border-radius: 7px;
  }
}

@media screen and (min-width: 1024px) {
  .img-item-tokyo {
    background-image: url("../img/tokyo-desktop.jpg");
  }

  .img-item-osaka {
    background-image: url("../img/osaka-desktop.jpg");
  }

  .destinations {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 48px;

    max-width: 1200px;
    margin: 64px auto 0;
  }

  .destinations article {
    width: 588px;
  }

  .img-item-tokyo,
  .img-item-osaka {
    height: 452px;
  }

  .destinations footer {
    margin-top: 16px;
  }
}
