header {
  background-color: var(--background-tertiary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 48px;
  position: relative;
}

a.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.img-mobile {
  display: block;
}

.img-desktop {
  display: none;
}

nav {
  display: none;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
}

.navegation-menu {
  padding: 26px;
}

.list-links {
  list-style: none;
  margin: 0;
  padding: 24px;
}

.list-links li {
  margin: 16px 0;
}

.list-links li a {
  color: var(--text-secondary-color);
  text-decoration: none;
  font-weight: var(--menu-text-weight);
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .navegation-menu label {
    display: none;
  }

  nav {
    display: block;
    position: static;
  }

  .list-links {
    display: flex;
    gap: 32px;
    padding: 0;
  }

  .list-links li {
    margin: 0;
  }

  .list-links li a {
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 38px 120px;
  }

  a.logo {
    width: 200px;
    height: 48px;
  }

  .img-mobile {
    display: none;
  }

  .img-desktop {
    display: block;
  }
  .navegation-menu a:hover {
    color: var(--primary-color);
  }
}
@media screen and (min-width: 1920px) {
  header {
    padding: 38px 165px;
  }
}
