.hero-img {
  height: 400px;
  width: 100%;
  background: url("../img/hero-mobile.jpg") no-repeat;
  background-size: cover;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-family: "Montserrat";
  font-weight: var(--text-weight);
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    width: 100%;
    background: url("../img/hero-tablet.jpg") no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 60px;
    line-height: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background: url("../img/hero-desktop.jpg") no-repeat;
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 120px;
    line-height: 32px;
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }
}
