.offers-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.card {
  color: var(--background-secondary-color);
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  padding: 24px 16px;
  border-radius: 16px;
  text-align: center;
}

.card header {
  display: block;
  position: static;
  padding: 0;
  background-color: transparent;
}

.card header p {
  font-style: var(--text-weight);
  font-size: 20px;
  line-height: 32px;
  font-family: "Montserrat";
  letter-spacing: 1px;
}

.card section h3 {
  font-size: 40px;
  font-style: var(--title-weight);
  margin: 16px 0 0;
  line-height: 1.2;
}

.card section span {
  display: inline-block;
  font-size: 32px;
  font-style: var(--title-weight);
  margin-top: 24px;
}

.card.japao {
  background: url("../img/japao-card.jpg") no-repeat;
  background-size: cover;
}

.card.san-andreas {
  background: url("../img/san-andreas-card.jpg") no-repeat;
  background-size: cover;
}

.card.paraiba {
  background: url("../img/paraiba-card.jpg") no-repeat;
  background-size: cover;
}

.card.manaus {
  background: url("../img/manaus-card.jpg") no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .offers-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: 470px;
    height: 308px;
  }

  .card section h3 {
    font-size: 48px;
  }

  .card section span {
    font-size: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    width: 588px;
    height: 308px;
  }
}

@media screen and (min-width: 1621px) {
  .offers-cards {
    width: 1250px;
    margin: 0 auto;
  }
}