.card {
  color: var(--background-secondary-color);
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  padding: 24px 16px;
  background-color: black;
  border-radius: 16px;
  text-align: center;
  align-items: center;
}

.card header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
}

.card header p {
  font-style: var(--text-weight);
  font-size: 20px;
  line-height: 32px;
  font-family: "Montserrat";
  letter-spacing: 1px;
}

.card section h3 {
  font-size: 40px;
  font-style: var(--title-weight);
  margin: 16px 0 0;
  line-height: 1.2;
}

.card section span {
  display: inline-block;
  font-size: 32px;
  font-style: var(--title-weight);
  margin-top: 24px;
}

@media screen and (min-width: 1024px) {
  .card {
    width: 588px;
    height: 308px;
  }

  .card section h3 {
    font-size: 48px;
  }

  .card section span {
    font-size: 40px;
  }
}
