.testimonial .testimonial-container article header {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: transparent;
  padding: 24px 32px;
}

.testimonial .testimonial-container article header p {
  text-align: left;
  font-size: 16px;
  font-weight: var(--text-weight);
  line-height: 28px;
}

.testimonial .testimonial-container article footer {
  padding: 0 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 24px;
}

.testimonial .testimonial-container article footer img {
  width: 86px;
  height: 86px;
  margin-top: 0;
}

footer .profile-content {
  padding: 0 0 24px 0;
}

footer .profile-content h4 {
  font-size: 20px;
  font-weight: var(--title-weight);
  display: flex;
  margin: 0;
}

footer .profile-content .rating {
  font-size: 32px;
  color: var(--secondary-color);
}

@media (min-width: 768px) {
  .testimonial-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
  }

  .testimonial-container article {
    flex: 0 1 45%;
  }
}

@media (min-width: 1024px) {
  .testimonial-container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .testimonial-container article header {
    flex: 1;
    max-width: 384px;
    max-height: 206px;
    display: flex;
    flex-direction: column;
  }

  .testimonial-container article {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .testimonial-container article footer {
    display: flex;
    align-items: center;
    gap: 24px;
    min-height: 120px;
    margin-top: 12px;
  }

  .profile-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .profile-content .rating {
    display: flex;
    flex-wrap: nowrap;
  }
}
